<div #form>
    <ion-item>
        <ion-label color="secondary" fixed>School code:</ion-label>
        <ion-input [(ngModel)] ='schoolID' placeholder="School code"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" fixed>Username:</ion-label>
        <ion-input [(ngModel)] ='userID' placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="secondary" fixed>Password:</ion-label>
        <ion-input [(ngModel)] ='password' placeholder="Password"></ion-input>
    </ion-item>
    <ion-item #confirm>
        <ion-label color="secondary" fixed>Confirm Password:</ion-label>
        <ion-input [(ngModel)] ='confirmPass' placeholder="Password" (keypress)="compareInput()"></ion-input>
    </ion-item>
</div>