
<form #regForm [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
        <ion-label color="secondary" fixed>School code:</ion-label>
        <ion-input placeholder="School code" formControlName="schoolID"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" fixed>Username:</ion-label>
        <ion-input placeholder="Username" formControlName="userID"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="secondary" fixed>Password:</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item #confirm>
        <ion-label color="secondary" fixed>Confirm Password:</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="confirmPass"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!formGroup.valid">Submit</ion-button>
</form>
