<app-main-header [title]="'Catalog'"></app-main-header>
<ion-content padding>
    <ion-item>
        <ion-label>Catalogs</ion-label>
        <ion-select interface="alert" [value]="selectedUser" [(ngModel)]="selectedUser" (ionChange) = changeCatalog()>
            <ion-select-option  *ngFor = 'let catalogOwner of (catalogOwners | async)' value={{catalogOwner.strTeacherID}}>
                {{catalogOwner.strFirstName}} {{catalogOwner.strLastName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!hasCatalog">You do not have a catalog set up.</ion-item>
      <ion-button></ion-button>
      <ion-grid>
          <ion-row>
              <ion-col *ngFor="let item of (catalogItems | async)">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>{{item['strDescription']}}</ion-card-subtitle>
                        </ion-card-header>
                        <ion-card-content>
                                <ion-thumbnail slot="start" *ngIf="item['strImageLocation']">
                                    <ion-img [src]="item['strImageLocation']">
                                    </ion-img>
                                </ion-thumbnail>
                            {{item['intCost']}} <ion-icon name="cash"></ion-icon>
                            <div *ngIf="item['strTeacherID'] == userID">
                                    <ion-button color="primary" size="small">Edit</ion-button>
                                    <ion-button color="danger" size="small">Remove</ion-button>
                            </div>
                        </ion-card-content>
                    </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>
</ion-content>