<ion-header>
  <ion-toolbar>
    <ion-title>{{history.dtmDate}}</ion-title>
    <ion-buttons slot="end" color="light">
        <ion-button (click)="closeModal()">cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Modal Works!</p>
    <ion-item>
        <ion-label>Award Amount:</ion-label>
        <ion-label>{{history.intAmount}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Awarded by:</ion-label>
        <ion-label>{{history.strTeacherID}}</ion-label>
    </ion-item>
    <ion-item>
        <p>Description:</p>
        <ion-text>
            <br />
            {{history.strComment}}
        </ion-text>
    </ion-item>
</ion-content>
