<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Class</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <app-class-component></app-class-component>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button href="/catalog" routerDirection="forward">To Catalog</ion-button>
      <ion-button href="/class" routerDirection="forward">To Class</ion-button>
      <ion-button href="/student" routerDirection="forward">To student</ion-button>
    </ion-toolbar>
</ion-footer>