<ion-content padding>
    <p>
        all-classes works!
    </p>
    <!--<ion-list>
        <ion-item *ngFor="let class of classes" (click)="showStudentList(class.intClassID)">
            {{ class.strClassName }}
            {{class.intClassID}}
        </ion-item>
        <!--<ion-item *ngFor="let class of classes" (click)="goToClass( class.intClassID )">
            {{ class.strClassName }}
        </ion-item>
    </ion-list>-->
    <span *ngFor="let class of classes">
        <app-single-class [id]=class.intClassID [className]=class.strClassName></app-single-class>
    </span>
</ion-content>


