<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list *ngIf="!showForm">
    <ion-item>  
      <ion-button (click) = "toggleForm()">Login</ion-button>
    </ion-item>
    <!--Router will resolve path in the background. Direction is for an animation. -->
    <ion-item>        
      <ion-button color="secondary" routerLink="/register" routerDirection="forward">Register</ion-button>
    </ion-item>
  </ion-list>      

<div *ngIf="showForm">
<ion-list >
  <ion-item>
      <ion-label color="secondary" fixed>Username:</ion-label>
      <ion-input [(ngModel)] ='username' placeholder="Username"></ion-input>
  </ion-item>
  <ion-item>      
    <ion-label color="primary" fixed>Password:</ion-label>
      <ion-input type="password" [(ngModel)] ='password' placeholder="Password"></ion-input>
    </ion-item>
    <ion-button (click) = "login()">Login</ion-button>
  </ion-list>
  <ion-item routerLink="/register" routerDirection="forward" no-lines><a>Need to register a new account?</a></ion-item>
</div>

</ion-content>
