<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content *ngIf="!showForm">
      <ion-button (click) = "toggleForm()" expand="block">Login</ion-button>
      <!--Router will resolve path in the background. Direction is for an animation. -->
      <ion-button expand="block" color="secondary" href="/register" routerDirection="forward">Register</ion-button>    
  </ion-content>

<ion-list *ngIf="showForm">

  <ion-item>
      <ion-label color="secondary" fixed>Username:</ion-label>
      <ion-input [(ngModel)] ='username' placeholder="Username"></ion-input>
  </ion-item>

  <ion-item>      
    <ion-label color="primary" fixed>Password:</ion-label>
      <ion-input type="password" [(ngModel)] ='password' placeholder="Password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click) = "login()">Login</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
