<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
        <ion-refresher-content
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngFor="let student of studentInfo">
        <h3>{{ student.strFirstName }} {{student.strLastName}}</h3>
        <h3>{{ student.intCoupons }}</h3>
    </div>
    <ion-button (click)="awardCoupons()">Award!</ion-button>
    <ion-button (click)="awardCouponsWithAlert()">Award with ion-alert</ion-button>
    <app-history-component [userID]=this.userID></app-history-component>
</ion-content>
