<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
        <ion-refresher-content
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngFor="let student of (studentInfo | async)">
        <h3>{{ student.strFirstName }} {{student.strLastName}}</h3>
        <h3>{{ student.intCoupons }}</h3>
    </div>
    <ion-button (click)="awardCouponsWithAlert()">Award!</ion-button>
    <app-history-component [userID]=this.userID [historyInfo]=this.historyInfo></app-history-component>
</ion-content>
