<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list #choice *ngIf="!hideRegisterSchool">
    <p>I need to...</p>
  <ion-item lines="none">
      <ion-button (click)=showExistingSchoolForm()>
        Register with an existing school
          <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  <ion-item lines="none">
    <ion-button (click)=showNewSchoolForm()>
      Register a new school
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
<app-new-school #registerSchoolForm *ngIf="newSchool"></app-new-school>
<app-existing-school #registerUserForm *ngIf="existingSchool"></app-existing-school>
</ion-content>