<app-main-header [title]="'Add Class'"></app-main-header>
<ion-content padding>
  <ion-item-group>
    <ion-item lines="none">
      <ion-label>First name: </ion-label><ion-input [(ngModel)]='firstName'></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Last name: </ion-label><ion-input [(ngModel)]='lastName'></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>User ID:</ion-label><ion-input [(ngModel)]='userID'></ion-input>
    </ion-item>
    <ion-item-divider lines="none">
      <ion-button (click)="onClickAddStudents(userID, firstName, lastName)">Add Student</ion-button>
    </ion-item-divider>
  </ion-item-group>

  <ion-item-divider padding>
    <ion-label>Class information</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Class name:</ion-label>
    <ion-input [(ngModel)]="className"></ion-input>
  </ion-item>

  <ion-item-group *ngFor="let student of studentArray">
    <ion-item lines="none">
      <ion-label>{{ student.firstName }} {{student.lastName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="onClickRemoveStudent(student)" color="danger">Remove Student</ion-button>
    </ion-item>
  </ion-item-group>

  <ion-button (click)="onClickRegisterClass()" expand="full" color="success">Register Class</ion-button>
</ion-content>
